*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid red;
}

body {
    font-family: $font-family-primary;
    position: relative;
    color: #333333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.mycourselist3 .evaluatebox,
.mycourselist2 .font-icon,
.block4 .font-icon,
.mySwiper2 .font-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #f6bd2b;
}