<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container container-fluid">
        <a class="navbar-brand" href="index.html"><img src="/assets/images/logo (2).png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a href="#"><img src="/assets/images/logo (2).png" alt=""></a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="popularRestaurants.html">這些店很熱門</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">今天想吃什麼？</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="topicShare.html">主題分享</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">假日怎麼玩？</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">註冊與登入</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>