@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";


@import './helper/utils.scss';
@import './helper/mixins.scss';
@import './base/reset.scss';
@import "./helper/customVariables";
@import './base/base.scss';
@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/contact.scss';
@import './pages/popularRestaurants.scss';
@import './pages/topcShare.scss';