.footer{
    background-color: #F08929;
    padding: 30px 0;
    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo{
            @include pad{
                margin-bottom: 40px;
            }
        }
        &-social{
            display: flex;
            gap: 24px;
        }
        @include pad{
            flex-direction: column;
            margin-bottom: 40px;
        }
    }
    &-bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include pad{
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 40px;
        }
        &-menu{
            display: flex;
            gap: 40px;
            font-size: 20px; 
            @include pad{
                align-items: center;
                flex-direction: column;
                margin-bottom: 40px;
            }
        }
    }
}