// topicSubpage style


// topic banner
.image-banner {
    background-image: url(../images/share/imageBanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .imageBannerTitle {
        padding-top: calc(120px + 90px);
        padding-bottom: 120px;

        h1 {
            font-size: 56px;
            color: #333333;
            font-weight: 700;
            line-height: 67px;
            text-align: center;
        }

    }
}

// 使用mixin mobile-sm:480px mobile:576px mobile-lg:768px pad:992px
@include pad {
    .image-banner {
        background-image: url(../images/popular_banner_mb.jpg);

        .imageBannerTitle {
            text-align: center;

            h1 {
                font-size: 32px;
                font-weight: 700;
                line-height: 120%;
                padding-bottom: 16px;
            }

        }
    }


}

@include mobile {
    .main-banner {
        background-image: url(../images/popular_banner_mb.jpg);

        .imageBannerTitle {
            padding-top: calc(90px + 60px);
            padding-bottom: 210px;
        }
    }


}


// topicSubpage內容區＿開始
.bg-gray-space {
    background-color: #F9F9F9;
    padding-top: 40px;
    padding-bottom: 40px;

}

.blank-space {
    background-color: #fff;

}

.breadcrumb-section {
    margin-left: 40px;
    margin-right: 40px;
}

.next-page {
    text-align: right;
    color: #F08929;
}

.titleMainArea {
    background-color: #F9F9F9;
    padding: 48px 48px 35px 48px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

// 主題文字區
.topic-title-area {
    text-align-last: left;
}


//stickyBarTag_未完 
nav.stickyBarTag {
    height: 49px;

    .nav-pills {
        padding-left: 52px;
    }
}

nav.stickyBarTag {
    background-color: rgb(255 255 255 / 91%);
}

.nav-link:hover,
.nav-link:focus {
    display: inline-block;
}

.nav-pills {
    // --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #383838;
    --bs-nav-pills-link-active-bg: #ffffff00;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-bottom: 2px solid #c87800;
    transition: all 0.15s;
    padding-bottom: 7.5px;
    // color: var(--bs-nav-pills-link-active-color);
    // background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-link {
    color: #646464;
    font-weight: bolder;
}

.nav-pills .nav-link {
    border-radius: 0;
}


.stickyBarTag.fixed-top {
    position: sticky;
    top: 100px;

}

.hr-style {
    margin: -16px auto 0 auto;
    padding-right: 55px;
    padding-left: 55px;
}


// 下方topicSubpage圖文內容區＿開始

.titleInfo {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 120px;
    padding-top: 40px;
}

.container-fluid.infoblock .store {
    padding: 0;
}

.storeInfo {
    margin: 40px;
    text-align: left;
}

.contentInfo p {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 120px;
    padding-top: 40px;
}


.restaurant-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}


// 下方內容區