<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>主題分享結果頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="image-banner container-fluid">

      <div class="imageBannerTitle text-white">
        <h1 class="">主題分享</h1>
      </div>
    </div>

    <div class="bg-gray-space  container-fluid">



      <div class="mainArea mx-auto text-center pt-4 pb-4 container blank-space">

        <div class="row breadcrumb-section">

          <div class="col-12 col-md-6">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item"><a href="#">主題分享</a></li>
                <li class="breadcrumb-item active" aria-current="page">台南4家超人氣美式、日式早午餐推薦</li>
              </ol>
            </nav>
          </div>
          <div class="col-12 col-md-6">
            <div class="next-page nextPage-lg">
              <span class="pe-3"><a href="#">上一頁</a></span>
              <span class=""><a href="#">下一頁</a></span>
            </div>
          </div>


        </div>

        <div class="titleMainArea row">

          <div class="topic-title-area col-12 col-md-9">
            <h1 class="text-center my-1 pb-4">台南 4 家超人氣老屋、美式、日式<br class="d-lg-block d-none">早午餐推薦</h1>
            <div class="titleTag">
              <a class="foodTag btn-topic-pimary-style text-white" href="#">約會搭配景點
              </a>
              <a class="foodTag btn-topic-pimary-style  text-white" href="#">慶生
              </a>
              <a class="foodTag btn-topic-pimary-style  text-white" href="#">家庭聚餐
              </a>
              <a class="foodTag btn-topic-pimary-style  text-white" href="#">商務聚餐
              </a>
            </div>
          </div>

          <div class="titleSection col-12 col-md-3">

            <div class="row subInfoShare">

              <div class="socialIconTop my-2 pb-3">
                <span class="pe-3">
                  <a href="#">
                    <img src="../assets/images/likeIcon.svg" alt="">
                  </a>
                </span>
                <span class=""><a href="#"><img src="../assets/images/shareIcon.svg" alt="">
                  </a>
                </span>
              </div>

              <div class="timeRelease mt-auto ">
                發佈時間:2023/11/13
              </div>

            </div>

          </div>

        </div>

        <div class="row title-info">


          <nav id="navbar-example2" class="navbar stickyBarTag fixed-top">

            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link nav-link-topic" href="#scrollspyHeading1">小北家灶咖</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-topic" href="#scrollspyHeading2">日日享食</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-topic" href="#scrollspyHeading3">樂禾田</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-topic" href="#scrollspyHeading4">鹿耳晚晚</a>
              </li>

            </ul>

          </nav>
          <div class="hr-style">
            <hr>
          </div>


          <p class="mb-3 col-12 titleInfo">
            說到台南，除了琳瑯滿目的在地小吃，更是有許多美味又盛的台南早午餐，每一家都有其獨特的風格，無論是文青老屋風、美式或日式都有！今天小編要推薦4家超人氣台南早午餐，快來筆記筆記！台南許多熱門的早午餐店都隱身在巷弄內，且都是由老宅改造，一家比一家厲害，實在是竸爭激烈呀～如果在台南停留的天數有限，不妨參考小推薦的這
            4 家，現在就把這篇加入囗袋名單，下次不用再選擇障礙啦!
          </p>



          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
            tabindex="0">

            <!-- 第一區塊 -->
            <div class="" id="scrollspyHeading1">

              <div class="container-fluid infoblock p-0">
                <div class="row">


                  <div class="col-md-6 p-0">
                    <div class="store">
                      <img class="p-0" src="../assets/images/share/share_1.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="storeInfo">
                      <h4>
                        小北家灶咖
                      </h4>

                      <div class="recommand tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">推薦<br>指數
                          </span>
                        </div>

                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                      </div>


                      <div class="tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">一句<br>短評
                          </span>
                        </div>

                        <span class="highlight">
                          <p>
                            台南早午餐推薦，營養好吃又評價！CP值超級高！
                          </p>
                        </span>
                      </div>

                      <hr class="my-4">

                      <p class="card-text fs-6 fs-md-5">
                        <span class="detailIcon">
                          <img src="../assets/images/openTimeIcon.png" alt="營業時間">
                        </span>
                        11:30 ~ 14:30，17:00 ~ 22:30
                      </p>

                      <p>
                        <span class="detailIcon">
                          <img src="../assets/images/landMarkIcon.png" alt="餐廳地點">
                        </span>
                        台南市中西區郡緯街68號
                      </p>

                      <div class="more">
                        <a href="#">更多資訊
                          <span class="detailIcon">
                            <img src="../assets/images/icon-arrow.svg" alt="箭頭">
                          </span>
                        </a>
                      </div>



                    </div>
                  </div>


                  <div class="col-12 contentInfo text-start">
                    <p>
                      就算以小吃為重，不吃早午餐的旅人，也很難沒聽過小北家灶咖！營業期只要經過就是在排隊，如此超高人氣必定有它獨有的魅力！小北家灶咖為老宅改建
                      (推薦給你：台南便宜青旅大公開)，店內圍繞綠色樐栽,環境悠閒放鬆；餐點的部分會由店員細細解說，每一口都能吃到店家堅持選用好食材的用心與溫度，愜意的早晨坐在悠閒的老宅裡享用美味的早午餐，別有一番風味啊~
                    </p>
                  </div>


                </div>
              </div>

            </div>



            <!-- 第二區塊 -->
            <div class="" id="scrollspyHeading2">

              <div class="container-fluid infoblock p-0">
                <div class="row  flex-row-reverse">

                  <!-- flex-lg-row flex-lg-column-reverse -->
                  <div class="col-md-6 p-0">
                    <div class="store">
                      <img class="p-0" src="../assets/images/share/share_2.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="storeInfo">
                      <h4>
                        日日享食
                      </h4>

                      <div class="recommand tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">推薦<br>指數
                          </span>
                        </div>

                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                      </div>


                      <div class="tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">附近<br>逛逛
                          </span>
                        </div>

                        <span class="highlight">
                          <p>
                            <a>安平古堡門票</a>｜<a>赤崁樓門票</a>｜<a>億載金城門票</a>
                          </p>
                        </span>
                      </div>

                      <hr class="my-4">

                      <p class="card-text fs-6 fs-md-5">
                        <span class="detailIcon">
                          <img src="../assets/images/openTimeIcon.png" alt="營業時間">
                        </span>
                        10:00 ~ 完售
                      </p>

                      <p>
                        <span class="detailIcon">
                          <img src="../assets/images/landMarkIcon.png" alt="餐廳地點">
                        </span>
                        台南市東區東門路一段 156 巷 2 號
                      </p>

                      <div class="more">
                        <a href="#">更多資訊
                          <span class="detailIcon">
                            <img src="../assets/images/icon-arrow.svg" alt="箭頭">
                          </span>
                        </a>
                      </div>


                    </div>
                  </div>


                  <div class="col-12 contentInfo text-start">
                    <p>
                      日日享食主要販售早午餐盤餐，法國吐司、漢堡、沙拉、餐包，加上店家的巧手料理擺盤，品項豐富，好拍又美味。最棒的是日日享食主打健康，以絕不添加任何看不懂的化學成份為宗旨，希望用餐的消費者都能吃得健康，如此健康的美味早午餐完全是小編的菜啊！推薦第一次去的話可以點 240 元的日日套餐，主餐、麵包、抹醬、水果沙拉、歐姆蛋跟紅茶一次滿足，CP 值超高！</p>
                  </div>


                </div>
              </div>
            </div>


            <!-- 第三區塊 -->
            <div class="" id="scrollspyHeading3">

              <div class="container-fluid infoblock p-0">
                <div class="row">


                  <div class="col-md-6 p-0">
                    <div class="store">
                      <img class="p-0" src="../assets/images/share/share_3.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="storeInfo">
                      <h4>
                        樂禾田
                      </h4>

                      <div class="recommand tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">推薦<br>指數
                          </span>
                        </div>

                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                      </div>


                      <div class="tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">推薦<br>給你
                          </span>
                        </div>

                        <span class="highlight">
                          <p>
                            <a href="#">安平美食地圖</a>
                          </p>
                        </span>
                      </div>

                      <hr class="my-4">

                      <p class="card-text fs-6 fs-md-5">
                        <span class="detailIcon">
                          <img src="../assets/images/openTimeIcon.png" alt="營業時間">
                        </span>
                        09:00 ~ 18:00 (週六、日營業至 18:30)
                      </p>

                      <p>
                        <span class="detailIcon">
                          <img src="../assets/images/landMarkIcon.png" alt="餐廳地點">
                        </span>
                        台南市中西區郡緯街 68 號
                      </p>

                      <div class="more">
                        <a href="#">更多資訊
                          <span class="detailIcon">
                            <img src="../assets/images/icon-arrow.svg" alt="箭頭">
                          </span>
                        </a>
                      </div>



                    </div>
                  </div>


                  <div class="col-12 contentInfo text-start">
                    <p>
                      樂禾田是一家擁有濃厚日式風格的早午餐店，烤飯糰、鳥龍麵都可以在這裡吃到，隨餐還會附上茶碗蒸、沙拉、小食等，如果想吃漢堡、軟法或是鬆餅都有提供，份量也很足，連男生都可以吃得很飽！店裡的空間寬敞舒適，配上美麗的餐具，整體營造出讓人放鬆的悠閒氣息，也是台南相當知名的早午餐店之一哦！</p>
                  </div>


                </div>
              </div>

            </div>





            <!-- 第四區塊 -->
            <div class="" id="scrollspyHeading4">

              <div class="container-fluid infoblock p-0">
                <div class="row  flex-row-reverse">

                  <!-- flex-lg-row flex-lg-column-reverse -->
                  <div class="col-md-6 p-0">
                    <div class="store">
                      <img class="p-0" src="../assets/images/share/share_4.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="storeInfo">
                      <h4>
                        鹿耳晚晚
                      </h4>

                      <div class="recommand tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">推薦<br>指數
                          </span>
                        </div>

                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                        <span class="star"><img src="../assets/images/star.svg" alt=""></span>
                      
                      </div>


                      <div class="tagFrame">
                        <div class="recommandTagFrame">
                          <span class="recommandTag">小編<br>耳語
                          </span>
                        </div>

                        <span class="highlight">
                          <p>
                            鹿耳晚晚是毛孩友善空間，記得攜帶提籃或牽繩呦！
                          </p>
                        </span>
                      </div>

                      <hr class="my-4">

                      <p class="card-text fs-6 fs-md-5">
                        <span class="detailIcon">
                          <img src="../assets/images/openTimeIcon.png" alt="營業時間">
                        </span>
                        週一至週三 08:30 ~ 15:00
                      </p>

                      <p>
                        <span class="detailIcon">
                          <img src="../assets/images/landMarkIcon.png" alt="餐廳地點">
                        </span>
                        台南市東區林森路一段 153 巷 19 號
                      </p>

                      <div class="more">
                        <a href="#">更多資訊
                          <span class="detailIcon">
                            <img src="../assets/images/icon-arrow.svg" alt="箭頭">
                          </span>
                        </a>
                      </div>


                    </div>
                  </div>


                  <div class="col-12 contentInfo text-start">
                    <p>
                      白天主打早午餐、晚上賣深夜甜點！鹿耳晚晚擁有大片落地窗，整個空間寬敞舒適又有超棒的採光 (可以輕鬆地將餐點拍得很漂亮XD)，超級文青的呀！提供的餐點很多元又美味，可以單點漢堡、帕尼尼或是選擇方案升級成豐盛的早午餐盤餐，來到這裡沒有用餐時間限制，只管放鬆吃飯就好！</p>
                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>


      </div>

      <!-- 猜你喜歡 -->
      <div class="mainArea mx-auto text-center pt-4 pb-4 container blank-space m-space">


        <div class="col-12">
          <div class="guessMainTitle">
            <h3> 猜你有興趣</h3>
          </div>
        </div>

        <div class="container-fluid infoblock">
          <div class="row">

            <div class="col-md-6 m-space">

              <div class="guesslink" onclick="window.open('#', '_blank')">
                <img class="" src="../assets/images/share/share_5.jpg" alt="">
              </div>

              <div class="guessTitle">
                <h4>
                  2024 高雄美食 30 家推薦必吃
                </h4>

                <p>
                  30 家推薦必吃：傳奇烤鴨、米其林蒸蛋湯、燒烤吃到飽、北港蔡三代同仔米糕
                </p>

              </div>

            </div>


            <div class="col-md-6 m-space">

              <div class="guesslink" onclick="window.open('#', '_blank')">
                <img  src="../assets/images/share/share_6.jpg" alt="">
              </div>

              <div class="guessTitle">
                <h4>
                  台北 10 間咖啡廳推薦
                </h4>

                <p>
                  精選 10 間台北夜貓族最愛咖啡館
                </p>

              </div>

            </div>


            <div class="col-12 text-center">

              <div class="more-main">
                <a href="#">查看更多
                </a>
              </div>
            </div>



          </div>

        </div>



      </div>



    </div>




    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>